<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{this_char.symbol}} - {{this_char.rank}}  </title>
    <meta charset="UTF-8">
    <style>
    a { text-decoration: none; }
    h1 {font-weight:normal;}
    html * {font-family: Helvetica;}
    </style>
</head>
<a href = "/mandarin-graph/{{previous}}/"> &ltprevious </a>|
<a href = "/mandarin-graph/">  index  </a>|
<a href = "/mandarin-graph/{{random}}/">  random  </a>|
<a href = "/mandarin-graph/{{next}}/"> next&gt </a>

<body>



<h1 style="color:{% if user in this_char.known_by.all %}#DCDCDC;{% else %}blue; {% endif %};font-size:50px;">{{this_char.symbol}}<sub><font size = "-2">{{this_char.rank}}</font></sub></h1>
<br>
<br>
{{this_char_pronunciation}}<br>
{{this_char_deff}}<br>
<form action="toggle/">
<button type="submit">  toggle know-state </button>
</form>
<br>
<br>

<br>
LINKS TO CHAR<br>
{% for ender in word_enders %}
<a href = "https://www.purpleculture.net/dictionary-details/?word={{this_char.symbol}}{{ender.symbol}}" target="_blank">--></a>
<a style = "color:{% if user in ender.known_by.all %}gray;{% else %}blue; {% endif %}" href = "/mandarin-graph/{{ender.symbol}}/">{{ender.symbol}} </a><sub>{{ender.rank}}</sub><br>
{% endfor %}
<br>
<br>
LINKS FROM CHAR<br>
{% for starter in word_starters %}
<a style = "color:{% if user in starter.known_by.all %}gray;{% else %}blue; {% endif %}" href = "/mandarin-graph/{{starter.symbol}}/">{{starter.symbol}} </a><sub>{{starter.rank}}</sub>
<a  href = "https://www.purpleculture.net/dictionary-details/?word={{starter.symbol}}{{this_char.symbol}}" target="_blank">--></a><br>
{% endfor %}

</html>
