<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    a { text-decoration: none; }
    </style>
    <meta charset="UTF-8">
    <title>{{this_char.symbol}} - {{this_char.rank}}  </title>
</head>
<body>
<h1 style="font-size:50px;">{{this_char.symbol}}</h1>
{{this_char_deff.pronunciation}}<br>
{{this_char_deff.definition}}<br><br>


</body>
<br>
LINKS FROM CHAR<br>
{% for ender in word_enders %}
--> <a href = "/mandarin-graph/{{ender.symbol}}/">{{ender.symbol}} </a><sub>{{ender.rank}}</sub><br>
{% endfor %}
<br><br>

LINKS TO CHAR<br>
{% for starter in word_starters %}
<a href = "/mandarin-graph/{{starter.symbol}}/">{{starter.symbol}} </a><sub>{{starter.rank}}</sub> --><br>
{% endfor %}

</html>
