<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    html * {font-family: Helvetica;}
    </style>
    <meta charset="UTF-8">
    <title>Character Index</title>
</head>

<body>
<a href="{% url 'dashboard' %}">&lt Back to dashboard</a><br><br>
Characters desplayed in blocks of 100 ordered by rank<br><br>
    1 - 100 <br>
    {% for char in characters %}

       <a style="text-decoration: none;color:{% if user in char.known_by.all %}#DCDCDC;{% else %}blue; {% endif %}" href = "/mandarin-graph/{{char.symbol}}/"> {{char.symbol}}</a>


    {%if char.rank|divisibleby:10 %}<br>{% endif %}
    {%if char.rank|divisibleby:100 %}<br>{{char.rank|add:1}} - {{char.rank|add:100}}<br>{% endif %}
    {% endfor %}
</body>
</html>